/*-- scss:defaults --*/

//color-scheme
$light:         #f8f9f6 !default;
$dark:          #161B33 !default;

$red:           #CC2936 !default;
$blue:          #40ACBA !default;

//banner color
$primary: $red !default;

//body color
$body-bg: $light !default;

//body text color
$body-color: $dark !default;

//body text color
$body-color: $dark !default;

//font
$font-family-base:    'Source Sans Pro', 'Lato' !default;

//heading font
$headings-font-family:    'Prata', 'Roboto' !default;

/*-- scss:rules --*/
//category box
div.quarto-post .listing-categories .listing-category {
    color: $dark;
    background-color: $light;
    border: solid 1px $dark;
    border-radius: 0.6rem;
    text-transform: none;
    font-size: .65em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-top: 0.15em;
    padding-bottom: 0.15em;
    cursor: pointer;
    margin-right: 4px;
    margin-bottom: 4px;
}

//hyperlinks
a {
    color: $blue;
    text-decoration: underline;
}

// about links
div.quarto-about-jolla .about-link {
    font-size: .8em;
    color: $dark;
    background-color: $light;
    border: solid 1px $dark;
    border-radius: 0.6rem;
    padding: 0.25em 0.5em;
    border-radius: 4px;
}

//blog title color
.quarto-title-banner .quarto-title .title {
    font-weight: 600;
    color: $dark;
}

// blog title banner
.quarto-title-banner {
    margin-bottom: 1em;
    background: $light;
    color: $dark;
}

//line color between blog posts
div.quarto-post {
    border-bottom: 1px solid $dark;
}

//category tags on blog
.quarto-title .quarto-categories .quarto-category a {
    color: $dark;
    background-color: $light;
    font-size: 1.2em;
}

//
#title-block-header {
    margin-block-end: -1rem;
    position: relative;
    margin-top: 0px;
}

//projects line seperating title from project
h2, .h2 {
    border-bottom: 1px solid $dark;
}

//
.blockquote {
    font-size: inherit;
    padding-left: 1rem;
    padding-right: 1.5rem;
    color: $dark;
    font-style: italic;
}

//
code {
    font-size: 0.875em;
    color: $blue;
    background-color: #eff0ee;
    border-radius: 0.25rem;
    padding: 0.125rem 0.25rem;
    word-wrap: break-word;
}